 /* CSS Reset */
body, h1, h2, h3, h4, h5, h6, p, ul {
    padding:0;
    margin:0;
    }

/* Box Model Fix */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; 
    box-sizing: border-box;}

/* Body Start */
body {
    background-image: linear-gradient(90deg, rgb(12, 2, 34) 0%, rgb(76, 54, 94) 100%);
    }
body, h1, h2, p, blockquote, ul, ol, dl{
    color: #FADCAF
    }
h1, h2 {
    font-family: 'Fondamento', cursive;
}

/* Header Start */
.header {
    /*background-color: #765faa73;*/
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    font-size: 25px;
}
header h1, header h2 {
    display: flex;
    justify-content: center;
    /* Would like to use this font. Can't figure out how to set it up 
    @font-face {
        font-family: 'dark_crystalnormal';
        src: url('dark_crystal_normal_400-webfont.woff2') format('woff2'),
        url('dark_crystal_normal_400-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    } */
}  

/* Nav Start */
nav {
    background-color: #765faa73;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.nav-bar li {
    float: left;
    list-style-type: none;
}
.nav-bar a {
    display: block;
    padding: 15px;
    color: #FADCAF;
    text-decoration: none;
    font-size: 25px;
}
.nav-bar a:hover {
    background-color: rgb(223, 164, 76);
}
.keep-open {
    clear: both;
}

/* Main Start for all html */
.tab-discription {
    list-style-type: square;
}
p, blockquote, ul, ol, dl {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
main {
    padding: .5rem 2%;
    margin: 15px;
    /*background-color: #765faa73;*/
    border-radius: 10px;
}
main h1 {
    font-size: 2rem;
    border-bottom: 2px solid #FADCAF;
    
}
p {
    padding: .8rem;
    line-height: 150%;
}
/* About Tab */
.disclaimer {
    list-style-type: lower-roman;
    padding: 10px 0;
    padding-left: 45px;
}
.disclaimer li a {
    color: cornflowerblue;
}
.about {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.note {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
/* History Tab */
.history-thra {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.the-beginning {
    padding: 25px 10px;
}
.terminology {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.terminology-list {
    padding: 10px 30px;
}
.top {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    color: cornflowerblue;
    display: flex;
    justify-content: center;
}

/* Footer Start */
footer {
    display: flex;
    justify-content: center;
}