/* CSS Reset */
body, h1, h2, h3, h4, h5, h6, p {
    padding:0;
    margin:0;
    }

/* Box Model Fix */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; 
    box-sizing: border-box;}

/* Body Start */
body {
    background-color: #000B29;
    }
body, h1, h2, p, blockquote, ul, ol, dl{
    color: #FADCAF
    }

/* Header Start */
header {
    background-color: #341975;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    font-size: 25px;
}
header h1, header h2 {
    display: flex;
    justify-content: center;
}

/* Nav Start */
nav {
    background-color: #341975;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.nav-bar li {
    float: left;
    list-style-type: none;
}
.nav-bar a {
    display: block;
    padding: 15px;
    color: #FADCAF;
    text-decoration: none;
    font-size: 25px;
}
.nav-bar a:hover {
    background-color: rgb(177, 176, 109);
}
.keep-open {
    clear: both;
}

/* Main Start */
.tab-discription {
    list-style-type: square;
}
p, blockquote, ul, ol, dl {
    font-family: 'Quicksand', sans-serif;
}
main {
    padding: .5rem 2%;
    margin: 15px;
    background-color: #341975;
    border-radius: 10px;
}
p {
    padding: .8rem 2%;
}
/* Footer Start */
footer {
    display: flex;
    justify-content: center;
}